#title{
  background-color: #ff4c68;
  color:white;

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat-Black', sans-serif;
}

h1{

  font-size: 3.5rem;
  line-height: 1.5;

}
h2{
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
h3{

  font-weight: bold;
  font-size: 1.5rem;

}
.title-image{

  transform: rotate(25deg);
  position: absolute;
  width:20%;
  right: 25%;
  /* z-index: -1; */
}
p{
  color:#8f8f8f;
}
.col-lg-4{
  text-align: center;
  margin: 10% 0;

}

.second{
  margin:auto;
  padding: 7% 15%;
  align-content: center;
  position: relative;
  /* bottom: 100px; */
  z-index: +1;
  background-color: #fff;
}


.container-fluid{
  padding: 3% 15% 5%;
}
body{
  font-family: 'Montserrat', sans-serif;
}
.navbar
{
  padding: 0 0 4.5rem;
}
.nav-item{
  padding: 0 18px;

}
.navbar-brand
{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
.nav-link{
  font-family: 'Montserrat-light', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.img{
  color: #ef8172;
  padding-bottom: 5%;

}
.img:hover{
  color: #ff4c68;
}
#testimonials{
  background-color: #ef8172;
  text-align: center;
  color: #fff;
  margin: auto;

}
.testimonial-img{
  width:15%;
  border-radius: 100%;
  margin: 20px;
  margin-bottom: 60px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding: 3%;
}
.press-img{
  width:15%;
  margin:20px 20px 50px;
}
/* .carousel-item{
  margin:auto;
} */
.testimonial-button{
  margin-top: 40px;
}
.carousel-item{
  padding: 7% 15%;
}
#pricing{
  text-align:center;
  margin:5% 5%;
}
.pricing-table{
  padding:0;
  /* margin:5px; */
}
/* .card{
    margin-left: 5px;
    margin-right: 5px;
} */
@media (max-width:1028px) {
  .title-image{
    position: static;
    transform: rotate(0);
    width: 60%;
  }
  #title{
    text-align: center;
  }
}
#cta{
  color: #fff;
  background-color: #ff4c68;
  padding: 7% 20%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.social{
  margin: 10px 20px;
}
